body{
	font-family: Tahoma;
}

label {
	font-size: 14px;
	color: #586069;
}

.heading {
	font-size: 30px;
}

.submit-btn {
	background-color: #4286f4;
}

.loginForm
{
    width: 400px;
    margin: 40px auto;
}

.spinner{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}