<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: headerfiles"></head>
<head>
    <link href="/css/hover-min.css" rel="stylesheet" media="all">
    <script src="/dependencies/howler.min.js"></script>
    <link rel="stylesheet" href=/css/user-home.css>
    <script src="/dependencies/type.js"></script>
    <script type="text/javascript">
        var swooshSound = new Howl({
            src: ['/audio/swoosh.mp3'],
            volume: 0.5
        });
        var themeSong = new Howl({
            src: ['/audio/theme-sunny.mp3'],
            loop: true,
            volume: 0.2
        });
    </script>
</head>
<body>
<!--To access model data in javascript--> <!--Check out Elvis operator-->
<input id="angel-name" type="hidden" th:value="${Angel != null} ? (${Angel.name}?: 'Admin') : 'Admin'">

<div id="background-div"></div>

<div id="welcome-div" class="rounded border border-primary" style="width:200px; height:250px;">
    <div style="height: 100%; width: 100%; display: none; text-align: center" class="pt-2 px-2">
        <span id="welcome-message" class="h3 text-light"></span>
    </div>
</div>

<script src="/dependencies/popper.min.js"></script>
<script src="/dependencies/bootstrap.min.js"></script>
<script src="/dependencies/anime.min.js"></script>
<script type="text/javascript">
    //Ajax and csrf configurations
    var csrf_token = $("meta[name='_csrf']").attr("content");
    var csrf_header = $("meta[name='_csrf_header']").attr("content");

    $(document).ajaxSend((e, xhr, settings) => {
        xhr.setRequestHeader(csrf_header, csrf_token);
    });


    var $welcomeDiv = $("#welcome-div");
    var $welcomeMessage = $("#welcome-message");
    var $background = $("#background-div");
    var $angelName = $("#angel-name");

    var angelName = $angelName.val();

    themeSong.play();

    var buttonClickSound = new Howl({
        src: ['/audio/button-click.mp3', '/audio/button-click.wav']
    });

    //CHANGE SOURCE
    var applauseSound = new Howl({
        src: ['http://localhost/Spellit-Media/correct-answer-bell-and-applause.mp3']
    });

    //Background animation
    var bgImages = [
        "color-balls.jpg",
        "animals.png",
        "my post.jpg",
        "party.jpg"
    ]
    async function bgAnimation(){
        await anime({
            targets: "#background-div",
            delay: 0,
            duration: 1000,
            translateX: window.innerWidth,
            easing: "easeOutQuad"
        }).finished;
        console.log("Slide out complete");

        $background.css({
            backgroundImage: "linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.6)), url(/images/" + bgImages[0] + ")"
        });
        let firstImage = bgImages.shift();
        bgImages.push(firstImage);

        await anime({
            targets: "#background-div",
            delay: 0,
            duration: 1000,
            translateX: [-window.innerWidth, 0],
            // easing: "easeInQuad"
        }).finished;
        console.log("Slide in complete");
    }

    setInterval(bgAnimation, 20000);

    //Welcome swoosh animation
    anime({
        targets: '#welcome-div',
        translateX: (window.innerWidth/2 - $welcomeDiv.width()/2),
        translateY: [70, 200],
        scale: 2,
        duration: 1500,
        begin: anim => {
            swooshSound.play();
        },
        complete: (anim) => {
            $("#welcome-div div").css({"display": "block"});
            welcomeMessageTyped.start();
        }
    });

    //Welcome message type animation
    var welcomeMessageTyped = new Typed('#welcome-message', {
        strings: ["Welcome back ^500 " + angelName],
        startDelay: 1000,
        typeSpeed: 100,
        cursorChar: ''
    });

    console.log($angelName.val());

</script>
</body>
</html>
